@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

body{
  background-color: #0c0c0c;
  color:rgb(237, 237, 237)
} */
/* body{
  overflow: hidden;
  height: 100%;
} */
[data-scroll-container] {
  will-change: transform;
}

@font-face {
  font-family: heading;
  src: url("../font/DIRTYLINE\ 36DAYSOFTYPE\ 2022.OTF");
}
@font-face {
  font-family: smallHeading;
  src: url("../font/GILROY-MEDIUM.TTF");
}

h1,button,p{
  z-index: 11;
}

h1{
  font-size: 8vw;
  font-family: heading;
  line-height: 7.3vw;
}
h3{
  font-family: smallHeading;
  font-size: 5.2vw;
}
h4{
  font-family: smallHeading;
  font-size: .8vw;
  font-weight: 600;
}
h2{
  font-family: heading;
  font-size: 2vw;
  line-height: 2vw;
}
p{
  font-family: smallHeading;
  font-size: 0.72vw;
  /* font-size: 1.2vw; */
  line-height: 1.1vw;
  color: #262626;
}


.Navbar{
  z-index: 999999;
}

/* swiper */

.swiper {
  width: 100%;
  height: 90%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  position: relative;
  width: 2vw;
  height: 2vw;
  background-color: #171717;
  color: white;
  border-radius: 50%;
  top: 0%;
  left: 94%;
  --swiper-navigation-size: 20px;
}

.swiper-button-prev {
  position: relative;
  width: 2vw;
  height: 2vw;
  color: white;
  border-radius: 50%;
  top: 0%;
  left: 92%;
  --swiper-navigation-size: 20px;
  background-color: #171717;
}


@media screen and (max-width: 400px) {
  h2 {
    font-size: 10vw;
    line-height: 9.8vw;
  }
  p{
    font-family: smallHeading;
    font-size: 4vw;
  line-height: 4.1vw;

  }
  h4{
    font-family: smallHeading;
    font-size: 5vw;
    font-weight: 600;
  }
}