@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

body{
  background-color: #0c0c0c;
  color:rgb(237, 237, 237)
} */



@font-face {
  font-family: heading;
  src: url("../font/DIRTYLINE\ 36DAYSOFTYPE\ 2022.OTF");
}
@font-face {
  font-family: smallHeading;
  src: url("../font/SPACEGROTESK-VARIABLEFONT_WGHT.TTF");
}

h1,button,p{
  z-index: 11;
}

h1{
  font-size: 5.2vw;
  font-family: heading;
}
h3{
  font-family: smallHeading;
  font-size: 5.2vw;
}
h4{
  font-family: smallHeading;
  font-size: 1.2vw;
}
h2{
  font-family: heading;
  font-size: 3vw;
  line-height: 3vw;
}
p{
  font-family: smallHeading;
  font-size: 0.9vw;
  
}


.Navbar{
  z-index: 999999;
}



@media screen and (max-width: 400px) {
  h1{
    font-size: 15vw;
  }
  h2 {
    font-size: 8vw;
    line-height: 9.8vw;
  }
  p{
    font-family: smallHeading;
    font-size: 4vw;
  }
}