#app {
   height: 100%;
 }

 
 body {
   background: #eee;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   /* color: #000; */
   margin: 0;
   padding: 0;
 }
 
 .swiper {
   width: 100%;
   height: 90%;
   position: relative;
 }
 
 .swiper-slide {
   text-align: center;
   font-size: 18px;
   /* background: #121212; */
 
   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
  /* navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  }, */

  .swiper-button-next {
    
    position: relative;

    width: 2vw;
    height: 2vw;
    /* background-color: green; */
    --swiper-navigation-size: 20px;
    background-color: #171717;
    color: white;
    border-radius: 50%;
    top:0%;
    left:94%;
    
  }
  
  .swiper-button-prev {
    position: relative;
    width: 2vw;
    height: 2vw;
    color: white;
    border-radius: 50%;
    top:0%;
    left:92%;
    --swiper-navigation-size: 20px;
    background-color: #171717;
  }
